.container {
  background-color: rgb(140, 171, 215);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100%;
  height: 100vh;
  position: relative;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-wrap {
  width: 50%;
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.username-input {
  padding: 6px 12px;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.login-btn {
  width: 100%;
  margin-top: 1rem;
  border-radius: 4px;
  padding: 6px 24px;
  font-size: 1.2rem;
  background-color: #3E72C8;
  color: white;
}

.lobby {
  width: 60%;
  margin: 0 auto;
  padding-top: 3rem;
}

.room-wrap {
  margin-top: 1rem;
  border: 3px solid rgb(222, 222, 222);
  border-radius: 4px;
  padding: 12px 20px;
  color: white;
  cursor: pointer;
}

.room-wrap > p:last-child {
  color: rgb(193, 38, 38);
  text-align: end;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  background-color: rgb(68, 2, 130);
  padding: 20px 24px;
}

.user-item {
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.user-item:not(:first-child) {
  margin-top: 1rem;
}

.status-container {
  display: flex;
  align-items: center;
}

.status-circle {
  margin-right: .5rem;
}

.main-content {
  margin-left: 300px;
}