.chat-container {
  display: flex;
  height: 100vh;
}

.left-panel {
  width: 250px;
  padding: 12px 0;
  overflow-y: auto;
  background-color: rgb(62, 62, 186);
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: .5rem 1rem;
}

.user.active {
  background-color: rgb(199, 71, 71);
}

.status {
  display: flex;
  align-items: center;
  margin-top: .5rem;
}

.icon {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
  display: block;
}

.icon.connected {
  background-color: #86bb71;
}

.message-panel {
  flex-grow: 1;
}

.header {
  padding: 1.5rem 1rem;
}

.input {
  /* height: 20px; */
  resize: none;
}

.name {
  color: white;
}

.new-message {
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 1.2rem;
  color: white;
  background-color: rgb(249, 57, 57);
  border-radius: 6px;
  text-align: center;
}

.sender {
  font-weight: 600;
}

.message-list {
  list-style: none;
  padding-left: 1rem;
}

canvas {
  border: 1px solid red;
}